.create_a_list {
  font-family: 'Heebo', sans-serif;
  background: linear-gradient(#d2dfea, #71828c);
  position: relative;
  display: inline-block;
  width: 14em;
  height: 8em;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  margin: 0.5em auto 2em;
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(192, 190, 186) linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
  box-shadow:
   0 -1px rgba(10,21,28,.9) inset,
   0 1px rgba(255,255,255,.5) inset;
  color: rgb(255, 255, 255);
}


.add_a_list {
  font-family: 'Heebo', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
  height: 3em;
  width: 10em;
  padding: 0.8em 0;
  margin: 0.5em auto 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: white;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(192, 190, 186) linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
}
.add_a_list:hover {
  background: linear-gradient(rgb(216, 215, 213), rgb(150, 142, 140));
}

.add_a_list:active {
  background: linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
  box-shadow: 0 -1px rgba(255,255,255,.4) inset;
}

.create_list_input {
  width: 80%;
  height: 2rem;
  margin: 1.5em auto 0;
  border: 2px solid gray;
  border-radius: 6px;
  padding-left: 0.3em;
  background-color: rgb(229, 229, 229);
  font-size: 1rem;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  outline: none;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
}

.create_list_button {
  width: 80%;
  height: 25%;
  margin-top: 1em;
  border-radius: 9px;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  color: rgb(53, 53, 53);
  background-color: rgb(229, 229, 229);
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  font-family: 'Heebo', sans-serif;
}

.create_list_button:active {
  outline: none;
  border-radius: 9px;
}

.create_list_button:disabled {
  color: rgb(199, 198, 199);
  box-shadow: none;
}

.X_list_button {
  position: absolute;
}
