:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
  background-image: url(./../background/background.jpg);
}

*,
::before,
::after {
  box-sizing: inherit;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App {
  margin: 2rem;
  text-align: center;
}

@media (max-width: 700px) {
  .board {
    padding: 0.5em 1.5em 0;
  }

  .boardName, .list_wrapper {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
    margin: 0 auto;
  }

}

@media (min-width: 700px) and (max-width: 999px) {
  .board {
    padding: 0.5em 1.5em 0;
  }

  .boardName, .list_wrapper {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  .board {
    padding: 0.5em 1.5em 0;
  }

  .boardName {
    min-height: 4rem;
    min-width: 11rem;
  }

  .boardName {
    justify-self: start;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }
}

@media (min-width: 1400px) {
  .board {
    padding: 0.5em 1.5em 0;
  }

  .boardName {
    justify-self: start;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }
}

.board {
  padding: 0.5em 1.5em 0;
}

.boardName {
  min-height: 3rem;
  min-width: 11rem;
  font-size: 2rem;
  color: rgb(89, 83, 82);
  margin: 1rem auto;
  text-shadow: 4px 2px 2px rgba(198, 211, 204, 1);

  font-family: "Times";
  font-weight: bold;
}

.create_a_list {
  justify-self: center;
  border-radius: 15px;
  background-color: lightgray;
  border: 1px solid black;
  color: gray;
  max-width: 14em;
  min-width: 12em;
  height: 8em;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.all_lists_wrapper {
  display: flex;
  justify-content:flex-start;
}

.add_a_list {
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgb(193, 191, 188);
  color: white;
  min-width: 10em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2), 5px 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(190, 190, 190, 1);
  transition: 0.4s;
}

.add_a_list:hover {
  /* color: rgb(184, 170, 255); */
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
  transform: scale(1.05, 1.05);
}

.add_a_list:active {
  box-shadow: none;
}

.create_list_input {
  width: 80%;
  height: 2rem;
  margin: 1em auto 0;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  outline: none;
}

.create_list_button {
  width: 40%;
  height: 25%;
  margin-top: 1em;
  border-radius: 9px;
  font-size: 1em;
  outline: none;
  color: white;
  background-color: rgb(156, 149, 145);
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.create_list_button:active {
  outline: none;
  border-radius: 9px;
}

.create_list_button:disabled {
  color: gray;
  box-shadow: none;
}

.cancel_list_button {
  width: 40%;
  height: 25%;
  margin-top: 1em;
  margin-right: 0.2em;
  border: none;
  font-size: 1em;
  color: rgb(25, 25, 25);
  background-color: rgb(210, 210, 210);
  outline: none;
}

.cancel_list_button:hover {
    background-color: rgb(178, 67, 44);
    box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
    border-radius: 9px;
}

.cancel_list_button:active {
    background-color: rgb(178, 67, 44);
    border-radius: 9px;
    box-shadow: none;
}

.list_wrapper {
  margin-bottom: 1em;
  max-width: 14em;
  margin-right: 1rem;
}

.list {
  background-color: lightgray;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;

}

.list_header {
  margin: 0 auto;
  padding: 0.7em 0;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 20%;
  color: rgb(240, 240, 240);
  background-color: rgb(119, 112, 110);
  text-shadow: -2px -3px 4px rgba(150, 150, 150, 1);
}

.listXButton {
  position: absolute;
  margin: 1.5% 91%;
  outline: none;
}

.listXButton :hover {
  fill: yellow;
}

.list_input {
  /* input */
  font-size: 1.2rem;
  width: 85%;
  height: 2rem;
  margin: 0.7em auto 0.5em;
  border: 2px solid gray;
  border-radius: 6px;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  outline: none;
}

.list_submit {
  /* submit buton */
  width: 80%;
  height: 2rem;
  margin: 0 auto 1em;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  background-color: rgb(156, 149, 145);
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  outline: none;
}

.list_submit:disabled {
  color: gray;
  box-shadow: none;
}

.task_wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: top;
  padding: 1em 0.5em 0;
  min-height: 1em;
  background-color: lightgray;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.task {
  border: 1px solid black;
  border-radius: 9px;
  width: 13.9em;
  min-height: 1.5em;
  background-color: rgb(230, 230, 230);
  margin-bottom: 0.3em;
  cursor: pointer;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

.task_content {

}

.arrow_up {
  position: absolute;
  margin-left: 90%;
  margin-top: -10%;
}

.arrow_up:hover{
  fill: yellow;
}

.arrow_up:before {
  background: transparent;
  bottom: 0;
  content: " ";
  cursor: default;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

.arrow_down {
  position: absolute;
  margin-left: 90%;
  margin-top: -10%;
}

.arrow_down:hover{
  fill: yellow;
}

.dropdown{
  position: absolute;
  font-size: 0.7em;
  margin-left: 10em;
  width: 10em;
  border: 1px solid black;
  /* border-radius: 6px; */
  text-shadow: none;
  background-color: white;
  color: black;
  z-index: 30;
}

.dropdown_menu_item {
  cursor: default;
}

.dropdown_menu_item:hover {
  background-color: lightblue;
}

.task_X {
  position: absolute;
  margin-top: -1.6em;
  margin-left: 13em;
}

._checked {
  background-color: rgb(185, 0, 0);
  text-decoration: line-through;
}
