:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App {
  margin: 2rem;
  text-align: center;
}

.board {
  position: relative;
}

@media (max-width: 700px) {
  .board {
    padding: 0 1.5em;
  }

  .boardName, .list_wrapper {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
    margin: 0 auto;
  }

}

@media (min-width: 700px) and (max-width: 999px) {
  .board {
    padding: 0 1.5em;
  }

  .boardName, .list_wrapper {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  .board {
    padding: 0 1.5em;
  }

  .boardName {
    min-height: 4rem;
    min-width: 11rem;
  }

  .boardName {
    justify-self: start;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }
}

@media (min-width: 1400px) {
  .board {
    padding: 0 1.5em;
  }

  .boardName {
    justify-self: start;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }
}

.board {
    padding: 0 1.5em;
}

.boardName {
  min-height: 3rem;
  min-width: 11rem;
  font-size: 2rem;
  margin: 1rem auto;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
  font-family: 'Heebo', sans-serif;
}

.all_lists_wrapper {
  display: flex;
  justify-content:flex-start;
}
