.creatingNewBoard {
  font-family: 'Heebo', sans-serif;
  background: linear-gradient(#d2dfea, #71828c);
  position: relative;
  display: inline-block;
  width: 16em;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(192, 190, 186) linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
  box-shadow:
   0 -1px rgba(10,21,28,.9) inset,
   0 1px rgba(255,255,255,.5) inset;
   transition: 2s;
   color: rgb(255, 255, 255);
}

.creatingNewBoard_margin {
  margin: 1.25rem;
}

.creatingNewBoard_header {
  position: relative;
  font-size: 1.5em;
}

.creatingNewBoard_header :nth-child(1) {
  text-align: left;
}

.creatingNewBoard_header :nth-child(2) {
  left: 100%;
  top: -70%;
  position: absolute;
}

.creatingNewBoard_body {
  align-items: center;
}

.creatingNewBoard_body_title {
  display: flex;
  margin-bottom: 0.1em;
  font-size: 1em;
}

.creatingNewBoard_body_input {
  height: 1.9em;
  width: 100%;
  padding: 0 0.4em;
  outline: none;
  font-size: 1em;
  border-radius: 6px;
  background-color: rgb(220, 220, 220);
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.creatingNewBoard_body_label {
  display: flex;
  margin: 0.7em 0 0.1em;
  font-size: 1em;
}

.react-select__control {
  border-color: rgb(220, 220, 220);
  border-radius: 6px;
}

.creatingNewBoard_body_select {
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  outline: none;
  border-color:none;
  color: rgb(90, 88, 90);
  background-color: rgb(220, 220, 220);
}

.react-select__control {
  background-color: rgb(220, 220, 220) !important;
  border: none !important;
  box-shadow: none !important;
}

.react-select__value-container {
  background-color: rgb(220, 220, 220);
  outline: none;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  border-radius: 0.2em 0 0 0.2em;
}

.react-select__indicators {
  background-color: rgb(220, 220, 220);
  border-radius: 0 0.2em 0.2em 0;
}

.react-select__menu-list {
  background-color: rgb(220, 220, 220);
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  border-radius: 6px;
}

.createButton {
  background-color: rgb(220, 220, 220);
  border: none;
  width: 6em;
  height: 1.8rem;
  width: 100%;
  margin: 1.2em 0 0.1em;
  border-radius: 0.2em;
  color: rgb(50, 50, 50);
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.createButton:active {
  box-shadow: none;
  background-color: rgb(220, 220, 220);
}

.createButton:disabled {
  cursor: auto;
  box-shadow: none;
  color: rgb(200, 200, 200);
  background-color: rgb(220, 220, 220);
}
