.dropdown{
  position: absolute;
  font-size: 0.7em;
  margin-top: 2.5em;
  margin-left: -2em;
  width: 11em;
  border: 1px solid black;
  border-radius: 6px;
  text-shadow: none;
  background-color: rgb(229, 229, 229);
  color: black;
  z-index: 31;
  font-family: 'Heebo', sans-serif;
}

.dropdown_menu_item_upper, .dropdown_menu_item_lower {
  cursor: pointer;
  padding: 0.2em 0.3em;
  display: flex;
  align-content: flex-start;
}

.dropdown_menu_item_upper:hover {
  background-color: lightblue;
  border-radius: 6px 6px 0 0;
}

.dropdown_menu_item_lower:hover {
  background-color: lightblue;
  border-radius: 0 0 6px 6px;
}
