.dropdown_wrapper {
  position: absolute;
}

.dropdown{
  position: absolute;
  font-size: 0.9em;
  margin-top: 1.5em;
  margin-left: 3em;
  width: 11em;
  border-radius: 6px;
  z-index: 32;
}

.dropdown_menu {
  background-color: rgb(120, 112, 110);
  border-radius: 6px;
  text-shadow: none;
  color: rgb(229, 229, 229);
  font-family: 'Heebo', sans-serif;
}

.dropdown_menu_item_upper, .dropdown_menu_item_lower {
  cursor: pointer;
  padding: 0.2em 0.3em;
  display: flex;
  align-content: flex-start;
}

.dropdown_menu_item_upper:hover {
  background-color: lightblue;
  border-radius: 6px 6px 0 0;
}

.dropdown_menu_item_lower:hover {
  background-color: lightblue;
  border-radius: 0 0 6px 6px;
}
