.no_page {
  position: relative;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  margin-top: 2em;
  user-select: none;
  color: rgb(89, 88, 89);
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
  font-family: 'Heebo', sans-serif;
}
