.task_content {
  border: 1px solid black;
  border-radius: 9px;
  min-height: 1.5em;
  background-color: rgb(230, 230, 230);
  margin-bottom: 0.3em;
  font-family: 'Heebo', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0.3em 0;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.task {
  width: 85%;
  height: 100%;
  padding: 0.15em 0;
  border-right: 1px solid black;
  cursor: pointer;
}

.task_name_input {
  background-color: rgb(229, 229, 229);
  height: 2.2em;
  width: 85%;
  border: none;
  outline: none;
  border-right: 1px solid black;
  padding: 0.15em 1em;
  font-size: 0.8em;
}

.task_menu, .task_menu_open {
  width: 15%;
  align-self: center;
  z-index: 30;
}

.task_menu:hover {
  cursor: pointer;
}

.task_X {
  position: absolute;
  margin-top: -1.6em;
  margin-left: 13em;
}

.task_menu_open:after {
  background: transparent;
  bottom: 0;
  content: " ";
  cursor: default;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}
