
.create_new_board_wrapper {
  min-width: 12em;
  margin: 0 auto;
}

.createNewBoard {
  font-family: 'Heebo', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
  height: 3em;
  width: 10em;
  transition: 1s;
  padding: 0.8em 0;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: white;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(192, 190, 186) linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
}
.createNewBoard:hover {
  background: linear-gradient(rgb(216, 215, 213), rgb(150, 142, 140));
}

.createNewBoard:active {
  background: linear-gradient(rgb(192, 190, 186), rgb(120, 112, 110));
  box-shadow: 0 -1px rgba(255,255,255,.4) inset;
}

.board_elem {
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 8em;
  min-height: 6rem;
  position: relative;
  transition: 0.4s;
  font-family: 'Heebo', sans-serif;
}

.board_elem:hover {
  transform: scale(1.05, 1.05);
}

.board_elem:active {
  box-shadow: none;
}

 .board_1 {
   background-color: #aab0b9;
   /* IE9, iOS 3.2+ */
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNiZmQwZDYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzk1OGY5YyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2MxZDFkNyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
   /* Android 2.3- hack (needed for the actual radial gradient) */
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNiZmQwZDYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzk1OGY5YyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2MxZDFkNyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
       -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0, rgb(191, 208, 214)),color-stop(0.575, rgb(149, 143, 156)),color-stop(1, rgb(193, 209, 215)));
   /* Android 2.3 */
   background-image: -webkit-repeating-radial-gradient(left top, ellipse farthest-corner,rgb(191, 208, 214) 0%,rgb(149, 143, 156) 57.5%,rgb(193, 209, 215) 100%);
   /* IE10+ */
   background-image: repeating-radial-gradient(ellipse farthest-corner at left top,rgb(191, 208, 214) 0%,rgb(149, 143, 156) 57.5%,rgb(193, 209, 215) 100%);
   background-image: -ms-repeating-radial-gradient(left top, ellipse farthest-corner,rgb(191, 208, 214) 0%,rgb(149, 143, 156) 57.5%,rgb(193, 209, 215) 100%);

   color: white;
}

.board_2 {
  background-color: #888e91;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNlNmRhZGEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMyNzQwNDYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNlNmRhZGEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMyNzQwNDYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+),
      -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0.011, rgb(230, 218, 218)),color-stop(1, rgb(39, 64, 70)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner,rgb(230, 218, 218) 1.1%,rgb(39, 64, 70) 100%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at left top,rgb(230, 218, 218) 1.1%,rgb(39, 64, 70) 100%);
  background-image: -ms-radial-gradient(left top, circle farthest-corner,rgb(230, 218, 218) 1.1%,rgb(39, 64, 70) 100%);

  color: white;
}

.board_3 {
  background-color: #7d9bae;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDQxNmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlNGU1ZTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjg5MDk5OTk5OTk5OTk5OTkiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDQxNmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlNGU1ZTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjg5MDk5OTk5OTk5OTk5OTkiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
      -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0.011, rgb(0, 65, 106)),color-stop(0.891, rgb(228, 229, 230)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner,rgb(0, 65, 106) 1.1%,rgb(228, 229, 230) 89.1%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at left top,rgb(0, 65, 106) 1.1%,rgb(228, 229, 230) 89.1%);
  background-image: -ms-radial-gradient(left top, circle farthest-corner,rgb(0, 65, 106) 1.1%,rgb(228, 229, 230) 89.1%);

  color: white;
}

.board_4 {
  background-color: #777777;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM2NzY3NjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4Nzg3ODciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjY1Nzk5OTk5OTk5OTk5OTkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNjc2NzY3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM2NzY3NjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4Nzg3ODciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjY1Nzk5OTk5OTk5OTk5OTkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNjc2NzY3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
      -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0.011, rgb(103, 103, 103)),color-stop(0.658, rgb(135, 135, 135)),color-stop(1, rgb(103, 103, 103)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner,rgb(103, 103, 103) 1.1%,rgb(135, 135, 135) 65.8%,rgb(103, 103, 103) 100%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at left top,rgb(103, 103, 103) 1.1%,rgb(135, 135, 135) 65.8%,rgb(103, 103, 103) 100%);
  background-image: -ms-radial-gradient(left top, circle farthest-corner,rgb(103, 103, 103) 1.1%,rgb(135, 135, 135) 65.8%,rgb(103, 103, 103) 100%);

  color: white;
}

.board_5 {
  background-color: #626e7a;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMyODMwNDgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4NTkzOTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjczOCIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMyODMwNDgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTAwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiM4NTkzOTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjczOCIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
      -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0.011, rgb(40, 48, 72)),color-stop(0.738, rgb(133, 147, 152)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner,rgb(40, 48, 72) 1.1%,rgb(133, 147, 152) 73.8%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at left top,rgb(40, 48, 72) 1.1%,rgb(133, 147, 152) 73.8%);
  background-image: -ms-radial-gradient(left top, circle farthest-corner,rgb(40, 48, 72) 1.1%,rgb(133, 147, 152) 73.8%);

  color: white;
}

.XButton, .XButton:hover {
  filter: drop-shadow(2px 3px 5px rgb(89, 89, 89));
}

.XButton:active {
  filter: none;
}

.navLink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.boardX {
  filter: drop-shadow(1px 3px 5px rgb(70, 70, 70));
  position: absolute;
  display: flex;
  align-self: flex-start;
  top:1%;
  left:92%;
}

.boardX :hover, .XButton :hover {
  fill: rgb(111, 200, 219);
}

.boardX:hover {
  filter: none;
}
