:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App {
  margin: 50px;
  text-align: center;
}

@media (max-width: 700px) {
  .main_wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }

  .header, .create_new_board_wrapper {
    grid-column: 1/2;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    padding: 0.5em 1.5em 0;
  }

  .boardName, .add_a_list, .create_a_list, .list_wrapper, .trash {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .main_wrapper {
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 1fr 1fr;
  }


  .header, .create_new_board_wrapper {
    grid-column: 1/3;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    padding: 0.5em 1.5em 0;
  }

  .boardName, .list_wrapper, .trash {
    justify-self: center;
    min-width: 20em;
    min-height: 8em;
  }

  .create_a_list {
    justify-self: start;
    width: 15em;
    height: 8em;
  }

  .add_a_list {
    justify-self: center;
    width: 14em;
    height: 6em;
  }

  .all_lists_wrapper {
    grid-column: 1/3;
  }

}

@media (min-width: 1000px) and (max-width: 1399px) {
  .main_wrapper {
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 1fr 1fr 1fr;
  }

  .header, .create_new_board_wrapper {
    grid-column: 1/4;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 0.5em 1.5em 0;
  }

  .boardName, .trash {
    min-height: 4rem;
    min-width: 11rem;
  }

  .boardName {
    justify-self: start;
    grid-column: 1/2;
  }

  .trash {
    justify-self: end;
    grid-column: 3/4;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }

  .create_a_list {
    justify-self: start;
    width: 15em;
    height: 8em;
  }

  .add_a_list {
    justify-self: center;
    width: 10em;
    height: 5em;
  }

  .all_lists_wrapper {
    grid-column: 1/4;
  }
}

@media (min-width: 1400px) {
  .main_wrapper {
     display: grid;
     grid-gap: 2em;
     grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .header, .create_new_board_wrapper {
    grid-column: 1/5;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 0.5em 1.5em 0;
  }


  .boardName, .trash {
    min-height: 4rem;
    min-width: 11rem;
  }

  .boardName {
    justify-self: start;
    grid-column: 1/3;
  }

  .trash {
    justify-self: end;
    grid-column: 3/5;
  }

  .list_wrapper {
    justify-self: center;
    min-width: 15em;
    min-height: 8em;
  }

  .create_a_list {
    justify-self: start;
    width: 15em;
    height: 8em;
  }

  .add_a_list {
    justify-self: start;
    width: 10em;
    height: 5em;
  }

  .all_lists_wrapper {
    grid-column: 1/5;
  }
}

.create_new_board_wrapper {
  min-height: 5em;
  min-width: 12em;
  margin: 0 auto;
  background-color: lightgreen;
  color: white;
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
}

.createNewBoard {
  margin: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2), 5px 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
}

.createNewBoard:hover {
  color: blue;
}

.createNewBoard:active {
  box-shadow: none;
}

.board_elem {
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 6px;
  min-width: 300px;
  min-height: 150px;
  position: relative;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2), 5px 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
}

.board_elem :hover {
  font-weight: bold;
  color: blue;
}

.board_elem:active {
  box-shadow: none;
}

 .board_1 {
    background-color: rgba(233, 167, 98, 0.91);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIyMC41JSIgeTE9IjEwOC41JSIgeDI9Ijc5LjUlIiB5Mj0iLTguNSUiPjxzdG9wIHN0b3AtY29sb3I9IiNlMDRhMWIiIHN0b3Atb3BhY2l0eT0iMC43NiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2QwOGQ1MCIgc3RvcC1vcGFjaXR5PSIwLjkxIiBvZmZzZXQ9IjAuMjIzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VhOTQzZSIgc3RvcC1vcGFjaXR5PSIwLjk0IiBvZmZzZXQ9IjAuNDE2MDAwMDAwMDAwMDAwMDQiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjJjNTYxIiBzdG9wLW9wYWNpdHk9IjAuODkiIG9mZnNldD0iMC42NjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmRlY2Q3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 20.5% 108.5%, 79.5% -8.5%,color-stop(0, rgba(224, 74, 27, 0.76)),color-stop(0.223, rgba(208, 141, 80, 0.91)),color-stop(0.416, rgba(234, 148, 62, 0.94)),color-stop(0.662, rgba(242, 197, 97, 0.89)),color-stop(1, rgb(253, 236, 215)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(67deg,rgba(224, 74, 27, 0.76) 0%,rgba(208, 141, 80, 0.91) 22.3%,rgba(234, 148, 62, 0.94) 41.6%,rgba(242, 197, 97, 0.89) 66.2%,rgb(253, 236, 215) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(23deg,rgba(224, 74, 27, 0.76) 0%,rgba(208, 141, 80, 0.91) 22.3%,rgba(234, 148, 62, 0.94) 41.6%,rgba(242, 197, 97, 0.89) 66.2%,rgb(253, 236, 215) 100%);
    background-image: -ms-repeating-linear-gradient(67deg,rgba(224, 74, 27, 0.76) 0%,rgba(208, 141, 80, 0.91) 22.3%,rgba(234, 148, 62, 0.94) 41.6%,rgba(242, 197, 97, 0.89) 66.2%,rgb(253, 236, 215) 100%);
}

.board_2 {
    background-color: rgba(160, 58, 211, 0.87);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIyMC41JSIgeTE9IjEwOC41JSIgeDI9Ijc5LjUlIiB5Mj0iLTguNSUiPjxzdG9wIHN0b3AtY29sb3I9IiMxMjA5NGEiIHN0b3Atb3BhY2l0eT0iMC43NiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzZhMjdjZiIgc3RvcC1vcGFjaXR5PSIwLjkxIiBvZmZzZXQ9IjAuMjIzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzk2MzFlOSIgc3RvcC1vcGFjaXR5PSIwLjk0IiBvZmZzZXQ9IjAuNDE2MDAwMDAwMDAwMDAwMDQiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTcyY2UzIiBzdG9wLW9wYWNpdHk9IjAuNzciIG9mZnNldD0iMC42NjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDM5NmY5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 20.5% 108.5%, 79.5% -8.5%,color-stop(0, rgba(18, 9, 74, 0.76)),color-stop(0.223, rgba(106, 39, 207, 0.91)),color-stop(0.416, rgba(150, 49, 233, 0.94)),color-stop(0.662, rgba(231, 44, 227, 0.77)),color-stop(1, rgb(211, 150, 249)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(67deg,rgba(18, 9, 74, 0.76) 0%,rgba(106, 39, 207, 0.91) 22.3%,rgba(150, 49, 233, 0.94) 41.6%,rgba(231, 44, 227, 0.77) 66.2%,rgb(211, 150, 249) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(23deg,rgba(18, 9, 74, 0.76) 0%,rgba(106, 39, 207, 0.91) 22.3%,rgba(150, 49, 233, 0.94) 41.6%,rgba(231, 44, 227, 0.77) 66.2%,rgb(211, 150, 249) 100%);
    background-image: -ms-repeating-linear-gradient(67deg,rgba(18, 9, 74, 0.76) 0%,rgba(106, 39, 207, 0.91) 22.3%,rgba(150, 49, 233, 0.94) 41.6%,rgba(231, 44, 227, 0.77) 66.2%,rgb(211, 150, 249) 100%);
}

.board_3 {
    background-color: rgba(59, 205, 169, 0.87);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIyMC41JSIgeTE9IjEwOC41JSIgeDI9Ijc5LjUlIiB5Mj0iLTguNSUiPjxzdG9wIHN0b3AtY29sb3I9IiMxMjA5NGEiIHN0b3Atb3BhY2l0eT0iMC43NiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzI3Y2Y5ZCIgc3RvcC1vcGFjaXR5PSIwLjkxIiBvZmZzZXQ9IjAuMjIzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzMxZTk5NCIgc3RvcC1vcGFjaXR5PSIwLjk0IiBvZmZzZXQ9IjAuNDE2MDAwMDAwMDAwMDAwMDQiLz48c3RvcCBzdG9wLWNvbG9yPSIjMmNlN2QzIiBzdG9wLW9wYWNpdHk9IjAuNzciIG9mZnNldD0iMC42NjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjOTZmOWM5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 20.5% 108.5%, 79.5% -8.5%,color-stop(0, rgba(18, 9, 74, 0.76)),color-stop(0.223, rgba(39, 207, 157, 0.91)),color-stop(0.416, rgba(49, 233, 148, 0.94)),color-stop(0.662, rgba(44, 231, 211, 0.77)),color-stop(1, rgb(150, 249, 201)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(67deg,rgba(18, 9, 74, 0.76) 0%,rgba(39, 207, 157, 0.91) 22.3%,rgba(49, 233, 148, 0.94) 41.6%,rgba(44, 231, 211, 0.77) 66.2%,rgb(150, 249, 201) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(23deg,rgba(18, 9, 74, 0.76) 0%,rgba(39, 207, 157, 0.91) 22.3%,rgba(49, 233, 148, 0.94) 41.6%,rgba(44, 231, 211, 0.77) 66.2%,rgb(150, 249, 201) 100%);
    background-image: -ms-repeating-linear-gradient(67deg,rgba(18, 9, 74, 0.76) 0%,rgba(39, 207, 157, 0.91) 22.3%,rgba(49, 233, 148, 0.94) 41.6%,rgba(44, 231, 211, 0.77) 66.2%,rgb(150, 249, 201) 100%);
}

.board_4 {
    background-color: rgba(204, 220, 111, 0.87);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIyMC41JSIgeTE9IjEwOC41JSIgeDI9Ijc5LjUlIiB5Mj0iLTguNSUiPjxzdG9wIHN0b3AtY29sb3I9IiM1ZDZmMGUiIHN0b3Atb3BhY2l0eT0iMC43NiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2MyY2Y1OSIgc3RvcC1vcGFjaXR5PSIwLjkxIiBvZmZzZXQ9IjAuMjIzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2QwZWI0NCIgc3RvcC1vcGFjaXR5PSIwLjk0IiBvZmZzZXQ9IjAuNDE2MDAwMDAwMDAwMDAwMDQiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTFmMjg5IiBzdG9wLW9wYWNpdHk9IjAuNzciIG9mZnNldD0iMC42NjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmZGQ3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 20.5% 108.5%, 79.5% -8.5%,color-stop(0, rgba(93, 111, 14, 0.76)),color-stop(0.223, rgba(194, 207, 89, 0.91)),color-stop(0.416, rgba(208, 235, 68, 0.94)),color-stop(0.662, rgba(225, 242, 137, 0.77)),color-stop(1, rgb(248, 253, 215)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(67deg,rgba(93, 111, 14, 0.76) 0%,rgba(194, 207, 89, 0.91) 22.3%,rgba(208, 235, 68, 0.94) 41.6%,rgba(225, 242, 137, 0.77) 66.2%,rgb(248, 253, 215) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(23deg,rgba(93, 111, 14, 0.76) 0%,rgba(194, 207, 89, 0.91) 22.3%,rgba(208, 235, 68, 0.94) 41.6%,rgba(225, 242, 137, 0.77) 66.2%,rgb(248, 253, 215) 100%);
    background-image: -ms-repeating-linear-gradient(67deg,rgba(93, 111, 14, 0.76) 0%,rgba(194, 207, 89, 0.91) 22.3%,rgba(208, 235, 68, 0.94) 41.6%,rgba(225, 242, 137, 0.77) 66.2%,rgb(248, 253, 215) 100%);
}

.board_5 {
    background-color: rgba(121, 185, 233, 0.87);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIyMC41JSIgeTE9IjEwOC41JSIgeDI9Ijc5LjUlIiB5Mj0iLTguNSUiPjxzdG9wIHN0b3AtY29sb3I9IiMxYjY5ZTAiIHN0b3Atb3BhY2l0eT0iMC43NiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzVkOGNkNCIgc3RvcC1vcGFjaXR5PSIwLjkxIiBvZmZzZXQ9IjAuMjIzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzY0OWVlZSIgc3RvcC1vcGFjaXR5PSIwLjk0IiBvZmZzZXQ9IjAuNDE2MDAwMDAwMDAwMDAwMDQiLz48c3RvcCBzdG9wLWNvbG9yPSIjODllNGYyIiBzdG9wLW9wYWNpdHk9IjAuNzciIG9mZnNldD0iMC42NjIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDdmZGYyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 20.5% 108.5%, 79.5% -8.5%,color-stop(0, rgba(27, 105, 224, 0.76)),color-stop(0.223, rgba(93, 140, 212, 0.91)),color-stop(0.416, rgba(100, 158, 238, 0.94)),color-stop(0.662, rgba(137, 228, 242, 0.77)),color-stop(1, rgb(215, 253, 242)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(67deg,rgba(27, 105, 224, 0.76) 0%,rgba(93, 140, 212, 0.91) 22.3%,rgba(100, 158, 238, 0.94) 41.6%,rgba(137, 228, 242, 0.77) 66.2%,rgb(215, 253, 242) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(23deg,rgba(27, 105, 224, 0.76) 0%,rgba(93, 140, 212, 0.91) 22.3%,rgba(100, 158, 238, 0.94) 41.6%,rgba(137, 228, 242, 0.77) 66.2%,rgb(215, 253, 242) 100%);
    background-image: -ms-repeating-linear-gradient(67deg,rgba(27, 105, 224, 0.76) 0%,rgba(93, 140, 212, 0.91) 22.3%,rgba(100, 158, 238, 0.94) 41.6%,rgba(137, 228, 242, 0.77) 66.2%,rgb(215, 253, 242) 100%);
}

/* @media \0screen\,screen\9 {
    .board_1 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdecd7",endColorstr="#c2e04a1b",GradientType=0);
    }
    .board_2 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd396f9",endColorstr="#c212094a",GradientType=0);
    }
    .board_3 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff96f9c9",endColorstr="#c212094a",GradientType=0);
    }
    .board_4 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8fdd7",endColorstr="#c25d6f0e",GradientType=0);
    }
    .board_5 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd7fdf2",endColorstr="#c21b69e0",GradientType=0);
    }
} */

.navLink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-style: oblique;
  height: 100%;
  width: 100%;
}

.creatingNewBoard {
  height: 220px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2), 5px 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
}

.creatingNewBoard_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  height: 33%;
}

.creatingNewBoard_header :nth-child(1) {
  margin-top: 20px;
  flex: 3;
}

.creatingNewBoard_header :nth-child(2) {
  margin: auto;
  flex: 1;
}

.XButton :hover {
  fill: black;
}

.creatingNewBoard_body {
  margin-top: -0.5em;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em 1.5em 0;
  align-items: center;
}

.creatingNewBoard_body :nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1em;
  grid-column: 1/3;
}

.creatingNewBoard_body :nth-child(2) {
  min-height: 2em;
  font-size: 16px;
  grid-column: 1/3;
  border-radius: 6px;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.creatingNewBoard_body :nth-child(3) {
  min-height: 2em;
  grid-column: 1/2;
}

.creatingNewBoard_body :nth-child(4) {
  min-height: 2em;
  grid-column: 2/3;
}

.cancelButton {
  background-color: lightgreen;
  border: none;
  color: white;
}

.cancelButton :hover {
  color: blue;
}

.createButton {
  border: none;
}

.createButton:hover {
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.board {
  grid-gap: 1em;
  padding: 0.5em 1.5em 0;
}

.boardName {
  min-height: 4rem;
  min-width: 11rem;
  font-size: 0.9rem;
  background-color: lightgreen;
  color: white;
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
}

.trash {
  min-height: 4rem;
  min-width: 11rem;
  background-color: red;
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);

}

.create_a_list {
  justify-self: center;
  border-radius: 15px;
  background-color: lightgray;
  border: 1px solid black;
  color: gray;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.add_a_list {
  border-radius: 15px;
  border: 1px solid black;
  background-color: violet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2), 5px 5px 5px 0 rgba(0,0,0,0.2);
  text-shadow: 4px 1px 2px rgba(150, 150, 150, 1);
}

.add_a_list:active {
  box-shadow: none;
}

.create_list_input {
  width: 80%;
  height: 2rem;
  margin: 1em auto 0;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.create_list_button {
  width: 60%;
  height: 25%;
  margin: auto;
  border-radius: 9px;
  font-size: 1em;
  background-color: lightgreen;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.all_lists_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}

.list_wrapper {
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 14em;
  background-color: lightgray;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.list_header {
  margin: 0 auto;
  padding: 0.7em 0;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 20%;
  background-color: purple;
  text-shadow: -2px -3px 4px rgba(150, 150, 150, 1);
}

.listXButton {
  position: absolute;
  margin: 1.5% 90%;
}

.listXButton :hover {
  fill: yellow;
}

.list :nth-child(3) {
  /* input */
  font-size: 1.2rem;
  width: 75%;
  height: 2rem;
  margin: 0.7em auto 0.5em;
  border: 2px solid gray;
  border-radius: 6px;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.list :nth-child(4) {
  /* submit buton */
  width: 70%;
  height: 2rem;
  margin: 0 auto 1em;
  border-radius: 10px;
  font-size: 1em;
  background-color: lightgreen;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.task_wrapper {
  padding: 0;
  list-style-type: none;
  padding: 8px;
  min-height: 100px;
}

.task {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 9px;
  width: 90%;
  min-height: 1.5em;
  background-color: white;
  margin-bottom: 0.3em;
  cursor: pointer;
  box-shadow: 5px 0px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

._checked {
  background-color: yellow;
  text-decoration: line-through;
}
